*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-app {
  background-color: #d8dfec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

